<section class="col-md-6" style="border: 2px solid;border-radius: 25px">
            <form class="form-horizontal">
                <fieldset>
                        <!-- Form Name -->
                    <h4 class="text-center oswald">Lista Estandar</h4>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input id="usuarioEstandar" name="usuario" type="text" placeholder="Id de Usuario" class="form-control input-md" onkeypress="return justNumbers(event)" required="">
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <button id="agregar" name="agregar" class="btn btn-success btn-block" onClick="return agregarEstandar(event)">Agregar miembro</button>
                            </div>
                        </div>
                </fieldset>
            </form>
        </section>
         <section class="col-md-6" style="border: 2px solid;border-radius: 25px">
            <form class="form-horizontal">
                <fieldset>
                        <!-- Form Name -->
                    <h4 class="text-center oswald">Lista Solidaria</h4>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input id="usuarioSoli" name="usuario" type="text" placeholder="Id de Usuario" class="form-control input-md" onkeypress="return justNumbers(event)" required="">
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <button id="agregar" name="agregar" class="btn btn-success btn-block">Agregar miembro</button>
                            </div>
                        </div>
                </fieldset>
            </form>
        </section>