<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Página de Inicio</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="../../../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../assets/css/fontawesome/css/font-awesome.css">
    <!--CUSTOM STYLE -->
    <link href="../../../assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../assets/css/estilos.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand oswald" href="../../landing.html">FÚTBOL5 <i class="fa fa-futbol-o"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right yanone">
                    <li><a href="#">INICIO <span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GESTIONAR <span class="glyphicon glyphicon-cog"></span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu arimo">
                            <li><a href="#">Reservas</a></li>
                            <li><a href="#">Usuarios</a></li>
                        </ul>
                    </li>                    
                    <li><a href="salir.html">SALIR <i class="glyphicon glyphicon-log-out"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="space-top"></div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid">
                <h2 class="text-center">HOMEPAGE DEL ADMINISTRADOR</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="visible-lg">large screen</div>
                <div class="visible-md">medium screen</div>
                <div class="visible-sm">small screen</div>
                <div class="visible-xs">extra small screen</div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                <h4>Bienvenido, <b>Nombre Apellido</b> <span class="glyphicon glyphicon-user"></span></h4>
                <div><h4>Modo: <b> Administrador </b> <i class="fa fa-wrench"></i> </h4></div>
                </div>
        </div>
        <div class="row" style="border:1px solid">
            <div class="list-group col-md-2 col-xs-3 col-sm-3" style="border: 1px solid blue">
            <a href="#" class="list-group-item">
                Cuenta
            </a>
            <a href="#" class="list-group-item">Reservas</a>
            <a href="#" class="list-group-item active">Usuarios</a>
            <a href="#" class="list-group-item">Opcion4</a>
            <a href="#" class="list-group-item">Opcion5</a>
            </div>
            <div id="contenido" class="col-md-8 col-sm-6 col-xs-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-1" style="border:1px solid green">
                <h4 class="text-center">Suponiendo que estamos en la pag de gestionar usuarios - crear uno</h4>

                <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="inputNombre" class="col-sm-2 control-label">Nombres</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="nombres" placeholder="" autofocus required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label">Apellidos</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="apellidos" placeholder="" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFechaNac" class="col-sm-2 control-label">Fecha Nacimiento</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="fechanac" placeholder="" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="" class="col-sm-offset-1 col-sm-10">Tipo</label>
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="radiousuario" value="usuario" required>
                                Usuario
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="radioempresa" value="empresa">
                                Empresa
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="radioadmin" value="admin">
                                Administrador
                              </label>
                            </div>
                        </div>
                      </div>
                      <div class="form-group row" style="border:1px solid">
                        <div class="col-md-6 center-block" style="border:2px dashed">
                          <button type="submit" class="btn btn-primary center-block">Registrar</button>
                        </div>
                      </div>
                </form>
            </div>
        
    </div>
    
    <div class="space-bottom"></div>
    <!--END HOME SECTION -->
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="row">
            <div class="col-md-4">
                <h4 class="oswald">Proyecto de Software 2</h4>
                <p>
                    Este es un trabajo realizado para el curso de Ingeniería de Software 2 de la carrera de Ingenieria de Sistemas de la Universidad de Lima.
                </p>
                    <h4 class="oswald">Los integrantes son</h4>
                    <p>
                    Daniel Bellido<br>
                    Juan Diego Cuya<br>
                    Kyoshi Sakuda
                    </p>
            </div>
            <div class="col-md-4">
                <h4 class="oswald">Necesitas ayuda? No dudes en escribirnos </h4>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Correo electrónico">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                <hr>
                   <h4 class="oswald">Comunidad Fútbol5</h4>
                <p>
                    Santiago de Surco<br>
                    Teléfono: 555-5555<br>
                    Correo: contacto@futbolcinco.com<br>
                </p>

                2014 www.yourdomain.com | All Right Reserved
            </div>
        </div>


    </div>

    <!--END FOOTER SECTION -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="../../../assets/js/jquery.js"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="../../../assets/js/bootstrap.min.js"></script>
</body>
</html>
